<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oldpei.myback.dao.CustomerPhotoTypeMapper">
    <resultMap id="BaseResultMap" type="com.oldpei.myback.model.CustomerPhotoType">
        <id column="unique_id" jdbcType="INTEGER" property="uniqueId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="active_flg" jdbcType="CHAR" property="activeFlg"/>
        <result column="sys_insert_id" jdbcType="VARCHAR" property="sysInsertId"/>
        <result column="sys_insert_date" jdbcType="TIMESTAMP" property="sysInsertDate"/>
        <result column="sys_update_id" jdbcType="VARCHAR" property="sysUpdateId"/>
        <result column="sys_update_date" jdbcType="TIMESTAMP" property="sysUpdateDate"/>
    </resultMap>
    <insert id="addPhotoType" parameterType="com.oldpei.myback.model.CustomerPhotoType">
        insert into myphoto.t_phototype (type, active_flg,
        sys_insert_id, sys_insert_date, sys_update_id,
        sys_update_date)
        values (#{type,jdbcType=VARCHAR}
        ,'1','System',now(),'System',now())
    </insert>
    <select id="getAllPhotoType" resultMap="BaseResultMap">
        select unique_id,type from myphoto.t_phototype;
    </select>
    <update id="updatePhotoType" parameterType="com.oldpei.myback.model.CustomerPhotoType">
        update myphoto.t_phototype
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            sys_update_date = now()
        </set>
        where unique_id = #{uniqueId,jdbcType=INTEGER}
    </update>

    <delete id="deletePhotoTypeById" parameterType="com.oldpei.myback.model.CustomerPhotoType">
        delete from myphoto.t_phototype
        where unique_id = #{uniqueId,jdbcType=INTEGER}
    </delete>
</mapper>