<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oldpei.myback.dao.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.oldpei.myback.model.Photo">
    <id column="unique_id" jdbcType="INTEGER" property="uniqueId" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="storage" jdbcType="VARCHAR" property="storage" />
    <result column="active_flg" jdbcType="CHAR" property="activeFlg" />
    <result column="sys_insert_id" jdbcType="VARCHAR" property="sysInsertId" />
    <result column="sys_insert_date" jdbcType="TIMESTAMP" property="sysInsertDate" />
    <result column="sys_update_id" jdbcType="VARCHAR" property="sysUpdateId" />
    <result column="sys_update_date" jdbcType="TIMESTAMP" property="sysUpdateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myphoto.t_photo
    where unique_id = #{uniqueId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oldpei.myback.model.Photo">
    insert into myphoto.t_photo (unique_id, date, type, 
      name, path, storage, 
      active_flg, sys_insert_id, sys_insert_date, 
      sys_update_id, sys_update_date)
    values (#{uniqueId,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{storage,jdbcType=VARCHAR}, 
      #{activeFlg,jdbcType=CHAR}, #{sysInsertId,jdbcType=VARCHAR}, #{sysInsertDate,jdbcType=TIMESTAMP}, 
      #{sysUpdateId,jdbcType=VARCHAR}, #{sysUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oldpei.myback.model.Photo">
    update myphoto.t_photo
    set date = #{date,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      storage = #{storage,jdbcType=VARCHAR},
      active_flg = #{activeFlg,jdbcType=CHAR},
      sys_insert_id = #{sysInsertId,jdbcType=VARCHAR},
      sys_insert_date = #{sysInsertDate,jdbcType=TIMESTAMP},
      sys_update_id = #{sysUpdateId,jdbcType=VARCHAR},
      sys_update_date = #{sysUpdateDate,jdbcType=TIMESTAMP}
    where unique_id = #{uniqueId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select unique_id, date, type, name, path, storage, active_flg, sys_insert_id, sys_insert_date, 
    sys_update_id, sys_update_date
    from myphoto.t_photo
    where unique_id = #{uniqueId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select unique_id, date, type, name, path, storage, active_flg, sys_insert_id, sys_insert_date, 
    sys_update_id, sys_update_date
    from myphoto.t_photo
  </select>
</mapper>